.browse-page {
  margin: 0 10%;
  padding: 0 8px;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.community-list {
  padding: 8px;
  overflow-y: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.community-item {
  padding: 8px;
  text-align: left;
  text-decoration: none;
  color: #000000;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  border-radius: 8px;
  cursor: default;
}
.community-item:hover {
  background-color: #323232;
  color: #ffffff;
  border-color: #ffffff;
}
.community-list h3, p {
  margin: 8px 0;
}
