.tutorial-detail-page {
  margin: 0 10%;
  padding: 0 8px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.tutorial-title {
  font-family: serif;
  margin-bottom: 8px;
}

.tutorial-tags {
  margin-bottom: 16px;
}
.tutorial-tag {
  margin-right: 4px;
  padding: 1px;
  border: 1px solid #323232;
  border-radius: 8px;
  font-size: 0.75rem;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  cursor: default;
}
.tutorial-tag:hover {
  background-color: #323232;
  color: #ffffff;
}

.tutorial-author {
  font-family: serif;
}

.tutorial-content {
  font-family: serif;
  white-space: pre-line;
}

.feedback {
  display: flex;
  margin: 16px 0;
  cursor: default;
}
.feedback span {
  margin-right: 16px;
  transition: color 0.1s;
}
.feedback span.clicked {
  color: #f30559;
}
.feedback span:hover {
  color: #f30559;
}

.comment-item {
  padding: 8px;
  border-top: 1px solid #ccc;
}

.comment-form {
  display: flex;
  flex-direction: row;
  margin-bottom: 16px;
}
.comment-textbox {
  flex: 1;
  margin-right: 10px;
}
